aiohttp
aiosignal
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
dask
dataclasses-json
debugpy
decorator
defusedxml
distributed
executing
faiss-cpu
fastjsonschema
fonttools
fqdn
frozenlist
fsspec
greenlet
idna
importlib-metadata
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpath-ng
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_ai
jupyter_ai_magics
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
langchain
langchainplus-sdk
locket
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mistune
msgpack
multidict
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numexpr
numpy
openai
openapi-schema-pydantic
overrides
packaging
pandocfilters
parso
partd
pickleshare
Pillow
platformdirs
ply
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
Pygments
pyparsing
python-dateutil
python-json-logger
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
tblib
tenacity
terminado
tiktoken
tinycss2
toolz
tornado
tqdm
traitlets
typing-inspect
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
yarl
zict
zipp
